<!DOCTYPE html>
<html lang="pt-br" ng-app="noAuth">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notarys Office | Acesso </title>

    <!-- Bootstrap -->
    <link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="./build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login" ng-controller="sequenceControllerLogin">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Identifique-se</h1>
              <div>
                <input type			= "text" 
					   class		= "form-control" 
					   placeholder	= "Usuário"
					   data-ng-model	= "login.usuario"
					   required />
              </div>
              <div>
                <input type				= "password" 
					   class			= "form-control" 
					   placeholder		= "Senha" 
					   required
					   data-ng-model	= "login.senha"/>
              </div>
              <div>
                <a class="btn btn-default submit" 
				   href="main.html"
				   data-ng-click="submeter()">Acessar</a>
                <a class="reset_pass" href="#">Esqueceu a sua senha?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-envira"></i> Notarys Office </h1>
					<p>©2016 Todos os direitos reservados.</p>
					<p><a href='http://www.lenines.com'>Lenines</a></p>
					<p>Feito com amor e por pessoas criativas.</p>
					<p>Privacidade e Termo de Uso.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
	  
	  <!-- jQuery -->
	  <script src="./vendors/jquery/dist/jquery.min.js"></script>
	  <!-- Angularjs 1.5.8 -->  
	  <script src="./js/angularjs/angular.min.js"></script>
	  <!-- Notary's Office -->
	  <script src="./modulos/sequenceControllerLogin.js"></script>
	  <script src="./modulos/sequenceCoreAuth.js"></script>
	  
  </body>
</html>