<div class="container body">
	<div class="main_container">
		
		<div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>Lamentamos, mas não foi possível encontrar esta página</h2>
              <p>A página que você está procurando não existe</p>
              <div class="mid_center">
                <h3>pesquisar</h3>
                <form>
                  <div class="col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="pesquisar por ...">
                      <span class="input-group-btn">
                              <button class="btn btn-default" type="button">buscar</button>
                          </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>