<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
            	<h3>Sequence - Lista</h3>
			</div>
			<div class="title_right">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<form id	= "form"
						  name	= "formContato">
                      <label for="guiche">Guichê: </label>
                      <input type					= "text" 
							 placeholder			= "Guichê, ex: 07"
							 id						= "guiche" 
							 class					= "form-control"
							 name					= "guiche"
							 maxlength				= "5"
							 style					= "text-transform:uppercase"
							 data-ng-model-options	= "{debounce: 500}"
							 data-ng-model			= "guiche"
							 required />
					</form>
                </div>
				<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group">
                    	<input type						= "text" 
							   class					= "form-control" 
							   data-ng-model-options	= "{debounce: 500}"
							   data-ng-model			= "search" 
							   placeholder				= "Pesquisar por...">
                    	<span class="input-group-btn">
                      		<button class="btn btn-default" type="button">Buscar</button>
                    	</span>
                  	</div>
                </div>
			</div>
		</div>
		
		<div class="clearfix"></div>

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel" ng-repeat="(key,value) in dadosretorno | filter:search | groupBy:'servico.titulo'">
				<div class="x_title">
					<h2>{{key}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
					  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="">Parametrização</a>
                          </li>
                          <li><a href="">Ajuda</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
					<div class="clearfix"></div>
				</div>

				<div class="x_content">
					<div class="table-responsive">
                      <table class="table table-striped jambo_table">
                        <thead>
							<tr class="headings">
								<th class="column-title">Senha </th>
								<th class="column-title">Atendimento </th>
								<th class="column-title">Emitida as </th>
								<th class="column-title">Tempo de Espera</th>
								<th class="column-title"></th>
								<th class="column-title"></th>
								<th class="column-title"></th>
                          	</tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer" ng-repeat="registro in value track by $index">
							  <td class = " ">{{registro.sequence}} </td>
							  <td class = " ">{{registro.atendimento}}</td>
							  <td class = " ">{{registro.timestamp | date:'HH:mm:ss'}} </td>
							  <td class = " ">{{registro.tictac}} </td>
							  <td class	= " ">
								  <button class				= "btn btn-primary btn-round btn-xs" 
										  type				= "button"
										  data-ng-show		= "!formContato.guiche.$error.required"
										  data-ng-disabled	= "!buttonEnabledChamar || registro.chamadas.length > 2"
										  data-ng-click		= "chamar(registro)">
									  <i class="fa fa-bullhorn"></i> Chamar <span class="badge"> {{registro.chamadas.length}}</span>
								  </button>
							  </td>
							  <td class	= " ">
								  <button class				= "btn btn-info btn-round btn-xs" 
										  type				= "button"
										  data-ng-show		= "registro.chamadas.length > 0"
										  data-ng-disabled	= "!buttonEnabledChamar"
										  data-ng-click		= "atender(registro)">
									  <i class="fa fa-file-text"></i> Atender
								  </button>
							  </td>
							  <td class	= " ">
								  <button class				= "btn btn-danger btn-round btn-xs" 
										  type				= "button"
										  data-ng-show		= "registro.chamadas.length > 2"
										  data-ng-disabled	= "!buttonEnabledChamar"
										  data-ng-click		= "faltou(registro)">
									  <i class="fa fa-file-text"></i> Faltou
								  </button>
							  </td>
                          </tr>
                        </tbody>
                      </table>
                	</div>
				</div>
			</div>
		</div>
	</div>
</div>